.App {
  font-family: sans-serif;
  text-align: center;
}
.QuizQuestion-container {
  background-color: gray;
  padding: 10px;
}
.QuizOption-container {
  background-color: rgb(183, 182, 180);
  margin: 3px 10px;
  padding: 1px 1px;
  text-align: left;
  border-radius: 20px;
  padding-left: 20px;
  margin: 20px ;
  border: 2px solid white;
  font-size: 20px;

}
.wht{
  color: rgb(22, 14, 95);
  font-size: 25px;
}

.whtt,h4{
  color: aliceblue;
}
.light{
border: 2px solid green;
}
.dark{
 border: 2px solid red;
}
h4{
  text-align: center;
}